name: Deploy Service

on:
  push:
    branches:
      - main
      - qa
      - dev
    # No paths or paths-ignore here; we'll use a conditional in the job
  workflow_run:
    workflows: [Light Client Layer]
    types:
      - completed

jobs:
  build_package_deploy:
    name: build_package_deploy
    timeout-minutes: 30
    runs-on: ubuntu-latest
    if: |
      github.event_name == 'workflow_run' && github.event.workflow_run.conclusion == 'success'
      || (
        github.event_name == 'push'
        && (
          contains(join(github.event.commits.*.added, ','), 'layers/')
          || contains(join(github.event.commits.*.modified, ','), 'layers/')
        ) == false
      )
    steps:
      - name: Deploy Service
        shell: bash
        run: |
          echo "Service Deployed"
