name: Dispatcher Workflow

on:
  push:
    branches:
      - main  # Replace with your branch name

jobs:
  check_changes:
    runs-on: ubuntu-latest
    outputs:
      layers_changed: \${{ contains(github.event.head_commit.modified + github.event.head_commit.added, '.github/workflows/layers.yml') || contains(github.event.head_commit.modified + github.event.head_commit.added, 'layers/') }}
      other_changed: \${{ steps.other_changes.outputs.other_changed }}
    steps:
      - id: other_changes
        run: |
          if [[ ! -z "\$(git diff-tree --no-commit-id --name-only -r \${{ github.sha }} | grep -v -E '(.github/workflows/layers.yml|layers/)')" ]]; then
            echo "::set-output name=other_changed::true"
          else
            echo "::set-output name=other_changed::false"
          fi

  layers:
    needs: check_changes
    if: needs.check_changes.outputs.layers_changed == 'true'
    uses: ./.github/workflows/layers.yml

  deploy_after_layers:
    needs: [check_changes, layers]
    if: needs.check_changes.outputs.layers_changed == 'true'
    uses: ./.github/workflows/deploy.yml

  deploy_direct:
    needs: check_changes
    if: needs.check_changes.outputs.layers_changed == 'false' && needs.check_changes.outputs.other_changed == 'true'
    uses: ./.github/workflows/deploy.yml


  deploy_after_layers_with_other:
    needs: [check_changes, layers]
    if: needs.check_changes.outputs.layers_changed == 'true' && needs.check_changes.outputs.other_changed == 'true'
    uses: ./.github/workflows/deploy.yml
