name: Workflow Dispatcher

permissions:
  contents: read
  actions: write

on:
  push:
    branches:
      - main
      - qa
      - dev

jobs:
  changes:
    runs-on: ubuntu-latest
    outputs:
      layers: \${{ steps.filter.outputs.layers }}
      other: \${{ steps.filter.outputs.other }}
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Check for file changes
      uses: dorny/paths-filter@v2
      id: filter
      with:
        filters: |
          layers:
            - 'layers/**'
            - '.github/workflows/layers.yml'
          other:
            - '**'
            - '!layers/**'
            - '!.github/workflows/layers.yml'

  trigger-layers:
    needs: changes
    if: needs.changes.outputs.layers == 'true'
    runs-on: ubuntu-latest
    steps:
      - name: Trigger layers workflow
        uses: peter-evans/repository-dispatch@v2
        with:
          token: \${{ secrets.GITHUB_TOKEN }}
          event-type: trigger-layers-workflow

  trigger-deploy:
    needs: [changes, trigger-layers]
    if: |
      always() &&
      (needs.changes.outputs.other == 'true' || 
       

(needs.changes.outputs.layers == 'true' && needs.trigger-layers.result == 'success'))
    runs-on: ubuntu-latest
    steps:
      - name: Trigger deploy workflow
        uses: peter-evans/repository-dispatch@v2
        with:
          token: \${{ secrets.GITHUB_TOKEN }}
          event-type: trigger-deploy-workflow